.bg_primary_color {
  background-color: var(--bgaccent);
}

.category_butn {
  font-size: 14px;
  font-weight: 300;
  padding: 3px 28px;
  color: var(--colorprimary) !important;
  border: 1px solid;
  border-color: var(--bgaccent);
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  outline: none !important;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 400;
}

.category_active {
  background: var(--bgaccent) !important;
}

.pagination {
  border-color: var(--bgaccent);
  border-radius: 2px;
  border-width: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.searchbtn_expand {
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 15px;
  background: var(--bgaccent);
  width: 27px;
  height: 27px;
  border-radius: 27px;
  text-align: center;
}

.searchbtn {
  float: left;
  width: 20%;
  padding: 10px;
  background: var(--bgaccent);
  color: white;
  font-size: 14px;
  border: none;
  cursor: pointer;
  height: 45px;
  text-align: center;
}

.pos_re {
  position: relative;
  padding: 70px 0px;
  padding-top: 110px;
}
