.moviesofera {
  background-color: var(--bgprimary) !important;
  color: var(--colorprimary);
  line-height: 1.7;
  font-weight: 300;
  font-size: 15px;
  font-family: var(--fontprimary);
  overflow-x: hidden !important;
  height: 100%;
}

.background_color {
  background-color: var(--bgprimary) !important;
  height: 100vh;
  color: var(--colorprimary);
  font-family: var(--fontprimary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.text_primary_color {
  color: var(--bgaccent);
}

.butn {
  font-size: 16px;
  font-weight: 300;
  padding: 9px 30px;
  background: var(--bgaccent);
  color: var(--colorwhite) !important;
  border: 1px solid;
  border-color: var(--bgaccent);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  outline: none !important;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
}

.pos_re {
  padding: 70px 0px;
  padding-top: 110px;
  background: url("../../../../public/images/round.png") repeat;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border: 0;
  z-index: 9;
  min-height: 50px;
  padding: 15px 0px;
  background: var(--bgprimary);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.copyright {
  margin: 0 auto;
  text-align: center;
  background: var(--bgprimary);
}

.movietitle {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  text-align: center;
  line-height: 105%;
  padding: 5px;
  color: var(--colorprimary);
  background: var(--bgaccent);
  min-height: 45px;
  text-transform: uppercase;
}

.tabbtn {
  background-color: var(--bgaccent);
  color: var(--colorwhite) !important;
}

.products h3 {
  padding-bottom: 5px;
  padding-left: 10px;
  border-left: 10px solid var(--coloraccent);
}

.home {
  position: relative;
  background: url("../../../../public//images/bg_home.png");
  background-size: cover;
}
