.forgot_password {
  background-color: var(--bggreygreen) !important;
  color: var(--colorprimary);
  line-height: 1.7;
  font-weight: 300;
  font-size: 15px;
  font-family:var(--fontsansserif1);
  overflow-x: hidden !important;
  height: 100%;
}
.forgot_password p{
  color: var(--colorprimary);
}

.home h2 {
  /* color: var(--colorgold); */
  color: var(--colorvintageteal);
  font-family:var(--fontsansserif1);
}

.inputfield_container {
  position: relative;
  width: 100%;
  margin-top: -5px;
}

.butn_container {
  position: relative;
}

.inputfield_container .butn_container .butn {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.butn {
  font-size: 16px;
  font-weight: 300;
  padding: 9px 30px;
  background: var(--bgvintageteal);
  color: var(--colorwhite) !important;
  border: 1px solid;
  border-color: var(--bgvintageteal);
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  outline: none !important;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
}

.pos_re {
  /* position: relative; */
  padding: 70px 0px;
  padding-top:110px;
  background: url("../../../../public/images/round3.png") repeat;
}

.home {
  position: relative;
  background: url("../../../../public/images/bg_home5.png");
  background-size: cover;
  /*min-height: 75vh;
  min-height: 100vh;*/
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border: 0;
  z-index: 9;
  min-height: 50px;
  padding: 15px 0px;
  background: var(--bggreygreen);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.copyright {
  margin: 0 auto;
  text-align: center;
  background: var(--bggreygreen);
}
