.landing_page {
  background-color: var(--bggreygreen) !important;
  color: var(--colorprimary);
  line-height: 1.7;
  font-weight: 300;
  font-size: 15px;
  font-family:var(--fontsansserif1);
  overflow-x: hidden !important;
  height: 100%;
}

.pos_re {
  /* position: relative; */
  padding: 70px 0px;
  background: url("../../../../public/images/round4.png") repeat;
}

.inputfield_container {
  position: relative;
  width: 100%;
  margin-top: -5px;
}

.butn_container {
  position: relative;
}

.inputfield_container .butn_container .butn {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.butn {
  font-size: 16px;
  font-weight: 300;
  padding: 9px 30px;
  background: var(--bgvintageteal);
  color: var(--colorwhite) !important;
  border: 1px solid;
  border-color: var(--bgvintageteal);
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  outline: none !important;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
}

.SignUpForm h2 {
  font-family: var(--fontprimary);
}

.home {
  position: relative;
  padding-top:110px;
  background: url("../../../../public/images/bg_home5.png") center;
  background-size: cover;
}

.products {
  position: relative;
  /* background:var(--bggreygreen); */
  color:var(--colorwhite);
}

.about{
  background: url("../../../../public/images/bg_home4.png") right;
  background-size: cover;
  text-align:center;
  background-image:
}
.about h2{
  color:var(--colorvintageteal);
  font-family:var(--fontsansserif1);
  text-transform:uppercase;
  font-weight:800;
}
.about p{
  color:var(--colorwhite);
}

.home h1 {
  color: var(--colorwhite);
  text-transform:uppercase;
  font-weight:bold;
  font-family:var(--fontsansserif1);
}
.home h2 {
  color: var(--colorgold);
}
.home h3 {
  color: var(--colorvintageteal);
  /* font-style:italic; */
  font-family:var(--fontsansserif1);
}
.sloganimg{
  padding:0px;
}
.movierow{
  text-align:center;
}

.movierow h3{
  text-transform:uppercase;
  /* font-style:italic; */
  font-weight:bold;
  position:relative;
  margin:0 auto;
  font-family:var(--fontsansserif1);
  color:var(--colorgold);
  padding:10px;
  width:100%;
}

.movietitle {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  text-align: center;
  line-height: 105%;
  padding: 5px;
  color: var(--colorprimary);
  background: var(--bgvintageteal)!important;
  min-height: 45px;
}

.multidevice_header h2{
  font-family:var(--fontsansserif1);
  text-transform:uppercase;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border: 0;
  z-index: 9;
  min-height: 50px;
  padding: 15px 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: var(--bggreygreen);
}

.copyright {
  margin: 0 auto;
  text-align: center;
  background: var(--bggreygreen);
}

.sign_instead a {
  color: var(--coloraccent3);
  text-decoration: underline;
}

.tabbtn {
  background-color: var(--bgvintageteal);
  color: var(--colorwhite) !important;
}

.seeall {
  cursor: pointer;
  /* float: left; */
  font-weight: 500;
  font-size:20px;
  background-color: var(--bgvintageteal);
  padding: 5px 20px;
}

.seeall a{
  color: var(--colorwhite);
  /* text-decoration: underline!important; */
}

.butn span {
  position: relative;
  z-index: 2;
  padding-top: 2px;
}

.butn:after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: width 0.2s;
  transition: width 0.2s;
  z-index: 1;
  opacity: 1;
  color: var(--colorprimary);
}

.butn:after {
  background: var(--bgdarkgrey);
}

.butn:hover:after {
  width: 100%;
}

.butn:hover + .dotbtn {
  opacity: 1;
}

@media screen and (max-width: 767px) {

  .sloganimg{
    display:block;
  }

}
@media screen and (min-width: 768px) {

  .sloganimg{
    display:none;
  }
}