.text_primary_color {
  color: #0064bb;
}

.landing_page {
  background-color: var(--bgprimary2) !important;
  color: var(--colorprimary);
  line-height: 1.7;
  font-weight: 300;
  font-size: 15px;
  font-family: var(--fontprimary2);
  overflow-x: hidden !important;
  height: 100%;
}

.pos_re {
  /* position: relative; */
  padding: 70px 0px;
  padding-top: 110px;
  background: url("../../../../public/images/round2.png") repeat;
}

.inputfield_container {
  position: relative;
  width: 100%;
  margin-top: -5px;
}

.butn_container {
  position: relative;
}

.inputfield_container .butn_container .butn {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.butn {
  font-size: 16px;
  font-weight: 300;
  padding: 9px 30px;
  background: var(--bgaccent2);
  color: var(--colorwhite) !important;
  border: 1px solid;
  border-color: var(--bgaccent2);
  border-radius: 40px;
  position: relative;
  cursor: pointer;
  outline: none !important;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
}

.SignUpForm h2 {
  font-family: var(--fontprimary2);
}

.home {
  position: relative;
  background: url("../../../../public/images/bg_home2.png");
  background-size: cover;
}

.home h1 {
  color: var(--colorprimary);
  text-transform: uppercase;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.home h4 {
  text-transform: uppercase;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  border: 0;
  z-index: 9;
  min-height: 50px;
  padding: 15px 0px;
  background: var(--bgprimary2);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.copyright {
  margin: 0 auto;
  text-align: center;
  background: var(--bgprimary2);
}

.sign_instead a {
  color: var(--coloraccent2);
  text-decoration: underline;
}

.tabbtn {
  background-color: var(--bgaccent2);
  color: var(--colorwhite) !important;
  border-radius: 20px;
}

.seeall {
  cursor: pointer;
  float: none;
  font-weight: 500;
  background-color: var(--bgaccent2);
  color: var(--colorwhite);
  padding: 5px 10px;
  padding-right: 20px;
  border-radius: 0 15px 15px 0;
  vertical-align: top;
}

.movierow h3 {
  text-transform: uppercase;
  padding-right: 10px;
  font-style: italic;
  font-weight: bold;
}

.products h3 {
  padding-bottom: 5px;
}

.movietitle {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  text-align: center;
  line-height: 105%;
  padding: 5px;
  color: var(--colorprimary);
  background: var(--bgaccent2);
  min-height: 45px;
  border-radius: 0px 0px 10px 10px;
  text-transform: uppercase;
}

.fivestars {
  color: var(--colorgold);
  font-size: 30px;
}
