.support {
  background-color: var(--bgdarkmossgreen) !important;
  color: var(--colorwhite);
  line-height: 1.7;
  font-weight: 300;
  font-size: 15px;
  font-family:var(--fontprimary);
  overflow-x: hidden !important;
  height: 100%;
}

.support h1, .support h2, .support h3{
  font-family:var(--fontprimary);
}

.pos_re {
  position: relative;
  padding: 50px 0px;
  background: url("../../../../public/images/round3.png") repeat;
  /*min-height: 50vh;*/
}

.butn {
  font-size: 16px;
  font-weight: 300;
  padding: 9px 30px;
  background: var(--bgmossgreen);
  color: var(--colorwhite) !important;
  border: 1px solid;
  border-color: var(--bgmossgreen);
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  outline: none !important;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 400;
  box-shadow: inset 0px 1px 3px 0px #91b8b3;
}

.contactform {
  position: relative;
  background: url("../../../../public/images/bg_home8.png");
  background-size: cover;
}
.contactform :before {
  background:var(--bgdarkmossgreen)!important;
  opacity:0.2!important;
}
.contactform h2 {
  color: var(--colorwhite);
}

.faq {
  font-family:var(--fontprimary);
  color: var(--colorwhite);
  background:var(--bgdarkmossgreen)!important;
}

.faq button{
  font-family:var(--fontprimary);
}

.faq h4{
  /* padding-bottom:20px; */
  border-bottom: solid 1px;
  border-color:var(--colorwhite);
  margin-bottom: 20px;
}

.faq h3{
  color:var(--colorwhite);
}

.collapsible {
  background-color: var(--bgdarkmossgreen);
  color: var(--colorwhite)!important;
  cursor: pointer;
  padding: 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-weight: 600;
}

.faq hr{
  border-color:var(--colorgreygreen);
}

.faq .active,
.collapsible:hover {
  color:var(--colorwhite)!important;
}

.content {
  padding: 0 18px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--bgdarkmossgreen);
}

.copyright {
  margin: 0 auto;
  text-align: center;
  background: var(--bgdarkmossgreen);
  color:var(--colorwhite);
}

.home {
  position: relative;
  background: url("../../../../public/images/bg_home8.png"); 
  background-size: cover;
  /* background:var(--bgblack)!important; */
}
